body {
    background-color: blueviolet;
    background-image: linear-gradient(109deg, rgba(156, 252, 248, 1) 11%, rgba(110, 123, 251, 1) 91%);
    font-size: 20px;
}

.center {
    text-align: center;
}

.flex-col
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw !important;
}

.purple {
    color: rgb(110, 9, 161) !important;
}

.ginger {
    color: coral !important;
}

.white {
    color: white !important;
}

.yellow
{
    color: rgb(233, 229, 9) !important;
}

.green
{
    color: rgb(50, 224, 50) !important;
}

.pink
{
    color: rgb(241, 83, 194) !important;
}

.long-img{
    width: clamp(100%, 30vw, 500px) !important;
}

.par {
    font-size: large;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    /* width: clamp(80vw, 100%, 100vw); */
    max-width: 1200px;
}

.image-container {
    height: 450px;
    position: relative;
}

.image-container img {
    width: 100%;
}

.welcome {
    position: absolute;
    top: 10px;
    left: 30%;
    font-size: 50px;
    color: #1D86F6;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: auto;
    padding: 20px;
}

.flex-container h5 {
    font-weight: bolder;
    color: darkorchid;
}

.card {
    padding: 10px;
}

.nav-item a {
    color: #1D86F6 !important;
    font-weight: bolder;
}

.card-img-top {
    width: auto !important;
}

.button {
    background-color: #7aeae8;
    margin-left: 30px;
    line-height: 20px;
}

.btn-primary {
    background-color: #8f88dd !important;
    border-color: #c4c3d0 !important;

}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.container-fluid a {
    color: darkorchid;
    font-weight: bolder;
}

.grid-container {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(3, 300px);
    gap: 30px;
}

grid-image {
    width: 300px;
    height: 400px;
    border-radius: 10%;
}

.cat-table {
    padding: 30px;
    padding-left: 25%;
    width: 80%;
}

.card-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.navbar-brand {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

.nav-item a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}

@media only screen and (min-width: 360px) {



    .cat-table {
        height: 700px;
        width: 100%;
        font-size: 15px !important;
    }


    .blockquote {
        font-family: 'Courier New', Courier, monospace;
    }

    /* .form-container {
        top: 100px;
        z-index: 1;
    } */

    .table {
        position: relative;
        left: -25%;
        table-layout: fixed;
        width: 120% !important;
        font-size: 13px !important;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    }

    .image-container {
        height: 20%;
    }

    .grid-container {
        grid-template-columns: repeat(1, 300px);
    }

    .grid-image {
        width: 100%;
        border-radius: 5%;
    }

    .welcome {
        font-size: 23px;
        top: 0;
        left: 55px;
        font-family: cursive;
        color: rgb(91, 235, 235);
    }

    .intro {
        font-family: cursive !important;
    }

    .par {
        font-size: 17px;
        padding: 20px;
        padding-bottom: 20px;
        font-family: 'Courier New', Courier, monospace
    }

    .h1 {
        font-size: 30px !important;
        font-family: 'Courier New', Courier, monospace !important;
    }

    .card-text {
        font-size: 15px !important;
        font-family: 'Courier New', Courier, monospace;
    }

    .card-title {
        font-size: 30px;
        font-family: cursive;
    }

    .text-center .blockquote {
        font-size: 110%;
    }

    .cat-table {
        font-size: 130%;
    }

    .flex-container {
        row-gap: 30px;
        font-size: larger;
    }

    .btn-primary {
        height: 40px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    }

    #btn-js1 {
        grid-row: 2 / 3;
    }

    #btn-js2 {
        grid-row: 4 / 5;
    }

    #btn-js3 {
        grid-row: 6 / 7;
    }

    .btn-js {
        transform: translateX(-1px) !important;
    }
}

@media only screen and (min-width: 567px) {
    .welcome {
        font-size: 30px;
    }
}

@media only screen and (min-width: 970px) {
    .welcome {
        font-size: 50px;
        left: 35%;
    }

    .table {
        font-size: 15px !important;
        width: 100% !important;
        left: -17%;
    }

    .grid-container {
        grid-template-columns: repeat(3, 300px);
    }

    #btn-js1 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    #btn-js2 {
        grid-column: 2 / 3;
        grid-row: 2 /3;
    }

    #btn-js3 {
        grid-column: 3 / 4;
        grid-row: 2 / 3;
    }
}

.bottom {
    padding-bottom: 40px;
}